<div class="card mb-md border shadow position-relative">
  <app-image-bubble
    [image]="userImage"
    [username]="product.owner"
    *ngIf="displayUserImage"
  ></app-image-bubble>
  <!-- <app-message-icon></app-message-icon> -->
  <img
    src="{{ product.images[0] }}"
    class="card-img-top"
    alt="{{ product.name }}"
    *ngIf="!noImage"
    height="200px"
    loading="lazy"
  />
  <a
    class="stretched-link"
    [routerLink]="routerPath ? routerPath : ['/products/details', product.itemNumber]"
  ></a>
  <span
    class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-danger"
    *ngIf="messageCount >= 0 && showMessageCount"
  >
    {{ messageCount }} messages
    <span class="visually-hidden">unread messages</span>
  </span>
  <div class="card-body">
    <div class="row flex-column">
      <h5 class="fw-bolder f-size-2 col-6 text-start text-success w-100">${{ product.price }}</h5>
      <p class="card-title col-6 fw-bolder text-secondary w-100">{{ product.name }}</p>
    </div>
    <p class="card-text text-truncate">{{ product.description }}</p>
  </div>
</div>
