<app-header></app-header>
<div class="container vh-100" *ngIf="loading">
  <div class="row justify-content-center align-item-center">
    <!-- <app-placeholder
      class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3"
      *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
    ></app-placeholder> -->
    <div>
      <h2>
        Loading...
        <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
          <span class="sr-only" hidden>Loading...</span>
        </div>
      </h2>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
