@import 'bootstrap';

.mb-sm {
  margin-bottom: 1rem !important;
}
.mb-md {
  margin-bottom: 2rem !important;
}
.mb-lg {
  margin-bottom: 3rem !important;
}
.mb-xl {
  margin-bottom: 4rem !important;
}

.me-sm {
  margin-right: 1rem !important;
}
.me-md {
  margin-right: 2rem !important;
}
.me-lg {
  margin-right: 3rem !important;
}
.me-xl {
  margin-right: 4rem !important;
}
