<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h1 class="">{{ product.name }}</h1>
      <img class="img-fluid" src="{{ product.images[0] }}" alt="{{ product.name }}" />
      <div class="row">
        <div class="col-12">
          <p class="text-secondary mb-lg">Sold by: {{ product.owner }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-xl">
      <p class="text-success fs-3 fw-bolder mb-md">${{ product.price }}</p>
      <p class="mb-md">{{ product.description }}</p>
      <!-- <button role="link" class="btn btn-primary w-100 mb-sm" (click)="onMakeOffer()">
        Make an Offer
      </button> -->
      <button role="link" class="btn btn-secondary w-100" (click)="onSendMessage()">
        Send The Owner a Message
      </button>
    </div>
  </div>

  <hr />
  <div class="container">
    <div data-masonry='{"percentPosition": true}' class="row mg-lg">
      <div class="col-12 position-relative mb-md">
        <h2>
          Other Products From
          <span class="text-secondary">{{ product.owner }}</span>
        </h2>
      </div>
      <app-product
        class="col-12 col-md-4 col-lg-3 mb-md position-relative image-container"
        *ngFor="let prod of userProducts"
        [product]="prod"
        [userImage]="getUserImage(product.username)"
        [displayUserImage]="false"
      ></app-product>
    </div>
  </div>
</div>
